{% extends 'base.html' %}

{% block content %}

<table id="fireTable" class="tablesorter">
<thead> 
<tr> 
    <th>Fire Date</th> 
    <th>Fire Type</th> 
    <th>Fire Address</th> 
    <th class="fire_details">Fire Description</th>
</tr> 
</thead> 
	<tbody>
{% for incident in incidents %}
	<tr>
		
		<td>{{ incident.fireDateStr|safe }}</td>

		<td>{{ incident.fireTypeStr|safe }}</td>

<td><a href="http://maps.google.com/maps?z={{ zoomLevel|safe }}&t=m&q=loc:{{ incident.y|safe }}+{{ incident.x|safe }}" target="_blank">{{ incident.fireAddressStr|safe }}</a></td>

		<td class="fire_details">{{ incident.fireDetailsStr|safe }}</td>

	</tr>
{% endfor %}
	</tbody>
</table>

<script type="text/javascript">
	$(document).ready(function() 
	    { 
	        $("#fireTable").tablesorter(); 
	    } 
	); 
</script>
{% endblock %}
