html, body {
	margin: 0;
}

#map {
	margin: 0;
	position: absolute;
	top:0;
	bottom: 0;
	width: 100%;
}

.incident-window {
	width: 200px;
	height: 200px;
}

html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#map-canvas { height: 100% }